<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Flask" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="None" />
    </handlers>
    <httpPlatform 
      processPath="C:\Users\yoshi\AppData\Local\Programs\Python\Python313\python.exe" arguments="D:\devel_open\eclipse\execcommand-server\app.py" stdoutLogEnabled="true" stdoutLogFile="D:\devel_open\eclipse\execcommand-server\log\server" startupTimeLimit="60" processesPerApplication="1">
      <environmentVariables>
        <environmentVariable name="ENV_SAMPLE" value="sample_value" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
